Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
python-dotenv==1.0.1
PyMySQL==1.1.1
gunicorn==22.0.0
requests==2.32.3
numpy==1.26.4
pandas==2.2.2
protobuf==4.25.3
google-api-python-client==2.131.0
tensorflow==2.15.0
joblib==1.5.3
scikit-learn==1.4.2
